<launch>
<test test-name="test_polygon_filter" pkg="laser_filters" type="test_polygon_filter" />
<node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
      <rosparam command="load" file="$(find laser_filters)/test/test_polygon_filter.yaml" />
</node>
</launch>
