<launch>
  <test test-name="test_speckle_filter" pkg="laser_filters" type="test_speckle_filter" />

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter_distance">
        <remap from="scan_filtered" to="scan_filtered_distance" />
        <rosparam command="load" file="$(find laser_filters)/test/test_speckle_filter_distance.yaml" />
  </node>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter_euclidean">
        <remap from="scan_filtered" to="scan_filtered_euclidean" />
        <rosparam command="load" file="$(find laser_filters)/test/test_speckle_filter_euclidean.yaml" />
  </node>
</launch>
