name: CMake

on:
  push:
    branches: [ kinetic-devel ]
  pull_request:
    branches: [ kinetic-devel ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest
    
    container:
      image: ros:noetic-robot

    steps:
    - uses: actions/checkout@v2

    - name: Build
      # Build your program with the given configuration
      run: cd ${{github.workspace}} && . /opt/ros/noetic/setup.sh && catkin build && catkin build

    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C ${{env.BUILD_TYPE}}
      
